body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 50px;
}

nav{
    display: flex;
    gap: 25px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 16px;
}

nav a:hover{
    text-decoration: underline;
}

#inicio{
    text-align: center;
    padding: 100px 10%;
}

#inicio h1 {
    font-size: 60px;
}

#inicio h2{
    font-size: 35px;
}

#inicio p{
    font-size: 20px;
    max-width: 700px;
    margin: 20px auto;
}

#inicio a{
    display: inline-block;
    background-color: gray;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 20px;
}

#inicio a:hover{
    background-color: goldenrod;
}

#sobre h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-size: 36px;
}

#sobre{
    text-align: center;
    color: goldenrod;
    font-size: 20px;
    padding: 60px 10%;
}

#sobre p{
    max-width: 700px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.7;
}

#servicos h2 {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
    font-size: 36px;
    background-color: transparent;
    color: white;
    border: 2px solid #d4af37;
    padding: 2px 8px;
    border-radius: 10px;
    margin: 0;
}

#servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 10%;
    background-image: url("../Imagem/fundo-servicos.jpg");
    background-size: cover;
    background-position: center;
}

#servicos article{
    flex: 1px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: goldenrod;
    color: black;
    transition: 0.3s;
    min-height: 180px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#servicos article:hover{
    transform: translateY(-5px) scale(1.03);
}

#servicos article h3{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}

#servicos article p {
    font-size: 16px;
    line-height: 1.6;
}

#eventos {
    text-align: center;
    padding: 60px 10%;
}

#eventos ul{
    width: fit-content;
    margin: 20px auto;
    padding: 0;
    list-style: none;
}

#eventos h2{
    font-size: 35px;
    margin-bottom: 30px;
}

#eventos p{
    font-size: 25px;
    margin-top: 30px;
}

#eventos li{
    font-size: 20px;
    margin-bottom: 15px;
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: goldenrod;
    color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

#eventos li img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}


